* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.expense__heading {
    margin-top: 2rem;
}

td, th{
    border: 1px solid black;
    padding: 0.5rem;
}

table {
    width: 960px;
}

.expense__details {
    margin: 1rem;

}

.expense__btn {
    margin-bottom: 1rem;
    padding: 0.3rem 0.3rem;
}

.del__btn {
    padding: 0.3rem;
}